*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container {
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

#jumbotronjawn {
    width: 100vw;
    height: clamp(150px, 30vw, 464px);
    object-fit: cover;
}

.links-and-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.link-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100px;
}

.link {
    text-decoration: none;
    color: white;
}

#mainlogo {
    width: 200px;
    height: 261px;
    margin: 0 40px 0 40px;
}

.webmaster > a {
    text-decoration: none;
    color: white;
}